# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.bak_000f
214_Project.vpp.bak_001d
214_Project.vpp.bak_002d
214_Project.vpp.bak_004d
214_Project.vpp.bak_003d
*.lck
